<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>手提课-活到老学到老</title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta mame="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link rel="shortcut icon" href="../img/icon/favicon.ico">
<link rel="Bookmark" href="../img/icon/favicon.ico">
<meta name="keywords" content="shoutike" />
<meta name="description" content="shoutike" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../content/ion.calendar.css" />
<link rel="stylesheet" type="text/css" href="../css/public.css" />
<link rel="stylesheet" type="text/css" href="../css/personal.css" />
<link rel="stylesheet" type="text/css" href="../css/pagepublic.css"/>
</head>
<body>
<div class="wrap">
	<!--顶部-->
	<div class="navheader clearfix">
		<div class="header clearfix">
			<!--logo-->
			<div class="logo">
				<a href="#" class="navbar-brand" style="padding-top: 10px;"><img src="../img/icon/logo-xin.png" style="width:120px;height： 30px;" /></a>
			</div>
			<div class="stk-menu">
				<div class="head-menu">
					<a href="../index.html">首页</a>
				</div>
				<div id="mymenu">
					<a href="javascript:;" id="menu-kc">课程 <span class="glyphicon glyphicon-menu-down" style="font-size: 12px;"></span></a>
				    <!--菜单栏-->
					<div class="topmenu">
						<div class="allmenu">
							<ul>
								<li class="menunav">
									<h5>
										<a href="subpage.html" target="_blank"><span class="glyphicon glyphicon-user"></span > 学前</a>
									</h5>
									<div class="listmenu">
										<dl>
											<dt><a href="subpage.html" target="_blank">国学</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">英语</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">绘画</a></dt>
											<dd>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">人物</a></em>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">素描素描</a></em>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">素描素描</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">儿歌</a></dt>
											<dd>
												<em><a href="javascript:;">三百首</a></em>
												<em><a href="javascript:;">唐诗</a></em>
												<em><a href="javascript:;">七律</a></em>
												<em><a href="javascript:;">绝句</a></em>
												<em><a href="javascript:;">儿歌</a></em>
												<em><a href="javascript:;">儿歌</a></em>
											</dd>
										</dl>
										
									</div>
								</li>
								<li class="menunav">
									<h5>
										<a href="views/subpage.html" target="_blank"><span class="glyphicon glyphicon-tower"></span> 小学</a>
									</h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">语文</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">英语</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">数学</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
									</div>
								</li>
								<li class="menunav">
									<h5>
										<a href="views/subpage.html" target="_blank"><span class="glyphicon glyphicon-baby-formula"></span> 初中</a>
									</h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">初一</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">初二</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
									</div>
								</li>
								<li class="menunav">
									<h5>
										<a href="views/subpage.html"><span class="glyphicon glyphicon-erase"></span> 高中</a>
									</h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">高一</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">高二</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">高考</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												
											</dd>
										</dl>
									</div>
								</li>
								<li class="menunav">
									<h5>
										<a href="views/subpage.html"><span class="glyphicon glyphicon-education"></span> 考研</a>
									</h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">公共课</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">基础课</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												
											</dd>
										</dl>
									</div>
								</li>
								<li class="menunav">
									<h5>
										<a href="views/subpage.html"><span class="glyphicon glyphicon-bishop"></span> 多语种</a>
									</h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">法语</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">韩语</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
									</div>
								</li>
							</ul>
						</div>
					</div>
			    </div>
			</div>
			<!--登录注册-->
			<ul class="nav-login">
				<li><a href="javascript:;"><span class="glyphicon glyphicon-shopping-cart"></span>购物车</a></li>
				<li class="nav-dlzc"><a href="javascript:;"><span class="glyphicon glyphicon-user"></span> </a></li>
			</ul>
		</div>
	</div>
		
	<div class="wrapper">
		<!--用户名-->
		<div class="personal-top">
			<div class="personal-top-con">
				<div class="person-userimg">
					<img src=""/>
				</div>
				<div class="person-usertext">
					<h1>用户001</h1>
				</div>
			</div>
		</div>	
		<!--个人信息-->
		<div class="personal-con">
			<div class="person-left">
				<ul class="my-list">
					<li class="lists">
						<span class="list-img"></span>
						<span class="list-title">播放记录</span>
						<span class="list-icon glyphicon glyphicon-menu-right"></span>
					</li>
					<li class="lists">
						<span class="list-img"></span>
						<span class="list-title">收藏记录</span>
						<span class="list-icon"></span>
					</li>
					<li class="lists">
						<span class="list-img"></span>
						<span class="list-title">我的购买</span>
						<span class="list-icon"></span>
					</li>
					<li class="lists">
						<span class="list-img"></span>
						<span class="list-title">我的奖学金</span>
						<span class="list-icon"></span>
					</li>
					<li class="lists">
						<span class="list-img"></span>
						<span class="list-title">代言人中心</span>
						<span class="list-icon"></span>
					</li>
					<li class="lists">
						<span class="list-img"></span>
						<span class="list-title">基本资料</span>
						<span class="list-icon"></span>
					</li>
					<li class="lists">
						<span class="list-img"></span>
						<span class="list-title">账号设置</span>
						<span class="list-icon"></span>
					</li>
				</ul>
			</div>
			<div class="person-right">
				<!--我的播放记录-->
				<div class="person-item item-active">
					<ol class="play-record" id="mybfjl">
						<li class="myrecords">
							<div class="records-img"><img src=""/></div>
							<div class="records-texts">
								<div class="records-title">
									<h2>西医综合导学</h2>
									<span>已更新至第10集</span>
								</div>
								<div class="records-now">已学习到第5集</div>
								<div class="golearn-btn">继续学习</div>
								<p>上次学习时间：<span>2017年8月21日14点42分</span></p>
							</div>
						</li>
						
					</ol>
					<div class="pagerwrap">
    			    	<ul class="pagebox clearfix" id="bfjlpage">
    			    		<li>首页</li>
    			    		<li>上一页</li>
    			    		<li class="pageItem pageItemactive">1</li>
    			    		<li class="pageItem">2</li>
    			    		<li class="pageItem">3</li>
    			    		<li class="pageItem">4</li>
    			    		<li>下一页</li>
    			    		<li>尾页</li>
    			    	</ul>
    			    </div>
				</div>
				<!--我的收藏记录-->
				<div class="person-item">
					<ol class="play-record">
						<li class="myrecords" id="myscjl">
							<div class="records-img"><img src=""/></div>
							<div class="records-texts">
								<div class="records-title">
									<h2>西医综合导学</h2>
									<span>已更新至第10集</span>
									<span class="remo glyphicon glyphicon-trash"></span>
								</div>
								<div class="records-now">主讲教师：刘子言 医学名师</div>
								<div class="golearn-btn" style="background: #d21313;color: #fff;">继续学习</div>
								<div class="pay-btn">购买完整课程</div>
								<p class="colect">上次学习时间：<span>2017年8月21日14点42分</span></p>
								<div class="learn-bar">
									<div class="prog">
										<em>学习进度条:</em>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											   <span class="sr-only">60% Complete</span>
											</div>
									    </div>
									    <em style="color: #999;">已掌握60%</em>
								   </div>
								</div>
							</div>
						</li>
					</ol>
					<!--<section class="my_model">
				        <p class="title">删除收藏记录<span class="closeModel">X</span></p>
				        <p>您确认要删除该收藏说课程吗？</p>
				        <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a></div>
				    </section>-->
				    <div class="pagerwrap">
    			    	<ul class="pagebox clearfix" id="scjlpage">
    			    		<li>首页</li>
    			    		<li>上一页</li>
    			    		<li class="pageItem pageItemactive">1</li>
    			    		<li class="pageItem">2</li>
    			    		<li class="pageItem">3</li>
    			    		<li class="pageItem">4</li>
    			    		<li>下一页</li>
    			    		<li>尾页</li>
    			    	</ul>
    			    </div>
				</div>
				<!--我的购买-->
				<div class="person-item">
					<div class="person-kc" style="display: none;">
						<!--购买标题-->
						<div class="rows">
							<ul class="table-head">
								<li class="head-kc">购买课程</li>
								<li class="head-money">金额</li>
								<li class="head-staus">状态</li>
								<li class="head-handle">操作</li>
								<li class="head-geren">资料送达</li>
							</ul>
						</div>
						<!--购买成功订单 默认rows是购买成功样式-->
						<div class="rows">
							<div class="thead">
								<h4 class="orders-num">订单号：190005082</h4>
								<p class="orders-time">下单时间：2017-08-22</p>
							</div>
							<div class="tbody">
								<ul class="tbody-mykc">
									<li class="head-kc">
										<span>考研西医导学</span>
									</li>
									<li class="head-money">
										<span>￥119.90</span>
									</li>
									<li class="head-staus">
										<span>购买成功</span><br />
										<span class="order-xq-btn">订单详情</span>
									</li>
									<li class="head-handle">
										
									</li>
									<li class="head-geren">
										
									</li>
								</ul>
							</div>
						</div>
						<!--购买未成功 待支付订单-->
						<div class="rows not-pay">
							<div class="thead">
								<h4 class="orders-num">订单号：190005082</h4>
								<p class="orders-time">下单时间：2017-08-22</p>
							</div>
							<div class="tbody">
								<ul class="tbody-mykc">
									<li class="head-kc">
										<span>考研西医导学</span>
									</li>
									<li class="head-money">
										<span>￥119.90</span>
									</li>
									<li class="head-staus">
										<span>待支付</span><br />
										<span class="order-xq-btn">订单详情</span>
									</li>
									<li class="head-handle">
										<a href="javascript:;" class="pay-btn">立即支付</a>
									</li>
									<li class="head-geren">
										
									</li>
								</ul>
							</div>
						</div>
						<!--取消过的订单-->
						<div class="rows cancel">
							<div class="thead">
								<h4 class="orders-num">订单号：190005082</h4>
								<p class="orders-time">下单时间：2017-08-22</p>
								<span class="glyphicon glyphicon-trash"></span>
							</div>
							<div class="tbody">
								<ul class="tbody-mykc">
									<li class="head-kc">
										<span>考研西医导学</span>
									</li>
									<li class="head-money">
										<span>￥119.90</span>
									</li>
									<li class="head-staus">
										<span>交易取消</span><br />
										<span class="order-xq-btn">订单详情</span>
									</li>
									<li class="head-handle">
										
									</li>
									<li class="head-geren">
										
									</li>
								</ul>
							</div>
						</div>
						<div class="rows">
							<div class="thead">
								<h4 class="orders-num">订单号：190005082</h4>
								<p class="orders-time">下单时间：2017-08-22</p>
							</div>
							<div class="tbody">
								<ul class="tbody-mykc">
									<li class="head-kc">
										<span>考研西医导学</span>
									</li>
									<li class="head-money">
										<span>￥119.90</span>
									</li>
									<li class="head-staus">
										<span>购买成功</span><br />
										<span class="order-xq-btn">订单详情</span>
									</li>
									<li class="head-handle">
										
									</li>
									<li class="head-geren">
										
									</li>
								</ul>
							</div>
						</div>
						<div class="rows">
							<div class="thead">
								<h4 class="orders-num">订单号：190005082</h4>
								<p class="orders-time">下单时间：2017-08-22</p>
							</div>
							<div class="tbody">
								<ul class="tbody-mykc">
									<li class="head-kc">
										<span>考研西医导学</span>
									</li>
									<li class="head-money">
										<span>￥119.90</span>
									</li>
									<li class="head-staus">
										<span>购买成功</span><br />
										<span class="order-xq-btn">订单详情</span>
									</li>
									<li class="head-handle">
										
									</li>
									<li class="head-geren">
										
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="person-kc" id="mypay">
						<div class="rows">
							<ul class="table-head">
								<li class="head-kc">购买课程</li>
								<li class="head-money">金额</li>
								<li class="head-staus">状态</li>
								<li class="head-handle">操作</li>
								<li class="head-geren">资料送达</li>
							</ul>
						</div>
						<div class="rows">
							<div class="thead">
								<h4 class="orders-num">订单号：190005082</h4>
								<p class="orders-time">下单时间：2017-08-22</p>
							</div>
							<div class="tbody">
								<ul class="tbody-mykc">
									<li class="head-kc">
										<span>考研西医导学</span>
									</li>
									<li class="head-money">
										<span>￥119.90</span>
									</li>
									<li class="head-staus">
										<span>购买成功</span><br />
										<span class="order-xq-btn">订单详情</span>
									</li>
									<li class="head-handle">
										
									</li>
									<li class="head-geren">
										
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="pagerwrap">
    			    	<ul class="pagebox clearfix" id="paypage">
    			    		<li>首页</li>
    			    		<li>上一页</li>
    			    		<li class="pageItem pageItemactive">1</li>
    			    		<li class="pageItem">2</li>
    			    		<li class="pageItem">3</li>
    			    		<li class="pageItem">4</li>
    			    		<li>下一页</li>
    			    		<li>尾页</li>
    			    	</ul>
    			    </div>
				</div>
				
				<!--我的奖学金-->
				<div class="person-item">
					<div class="person-jxj">
						<div class="myjxj">
							<h3>您当前赚取的奖学金</h3>
							<span class="whatjxj">什么是奖学金？</span>
							<span class="jxjgz">奖学金规则？</span>
							
						</div>
						<div class="jxj-img">
							<h1>34.5元</h1>
							
						</div>
					</div>
				</div>
				<!--代言人中心-->
				<div class="person-item">
					<div class="person-poster">
						<ul>
							<li class="all-money">
								<span>总收益</span>
								<span>￥35.94</span>
							</li>
							<li class="withdrawal">
								<span>可提现收益</span>
								<span>￥15.94</span>
							</li>
							<li class="know-poster">
								<span>了解代言</span>
							</li>
							<li class="enchashment">
								<span class="now-ench"><a href="javascript:;">立即提现</a></span>
								<p class="ench-btn"><span class="glyphicon glyphicon-exclamation-sign"></span><span>了解提现规则</span></p>
							</li>
						</ul>
						<div class="poster-con">
							<img src=""/>
						</div>
					</div>
				</div>
				<!--基本资料-->
				<div class="person-item">
					<div class="person-information">
						<div class="information">
							<div class="infor-img">
								<div class="infor-relative">
									<div class="my-img"><img src="" id="pic" /></div>
								    <a class="img-btn">更换头像<input type="file" class="file" value="更换头像" multiple="multiple" /></a>
								    
								</div>
							</div>
							<div class="infor-set">
								<form action="" method="post">
									<ul class="clearfix">
										<li>昵称：</li>
										<li>
											<input type="text" />
										</li>
									</ul>
									<ul class="clearfix">
										<li>真实姓名：</li>
										<li>
											<input type="text" />
										</li>
									</ul>
									<ul class="clearfix">
										<li>性别：</li>
										<li>
											<select name="" class="sex">
												<option value=""></option>
												<option value="">男</option>
												<option value="">女</option>
											</select>
										</li>
									</ul>
									<ul class="clearfix">
										<li>出生日期：</li>
										<li>
											<input type="text" class="date" readonly="readonly" placeholder="请输入出生年月日" />
										</li>
									</ul>
									<ul class="clearfix">
										<li>所在地：</li>
										<li>
											<div class="info">
												<div>
													<select id="s_province" name="s_province"></select> 
													<select id="s_city" name="s_city" ></select>
													<select id="s_county" name="s_county"></select>
													<script class="resources library" src="../jscript/area.js" type="text/javascript"></script>
													<script type="text/javascript">
														var opt0 = ["山西省","太原市","迎泽区"];//初始值
													    _init_area();
													</script>
												</div>
											    <div id="show"></div>
											
											</div>
										</li>
									</ul>
									<ul class="clearfix grad">
										<li>所在年级：</li>
										<li>
											<select name="" id="">
												<option>教育阶段</option>
												<option>小学</option>
												<option>初中</option>
												<option>高中</option>
											</select>
											<select name="" id="">
												<option>年级</option>
												<option>一年级</option>
												<option>二年级</option>
												<option>三年级</option>
												<option>四年级</option>
												<option>五年级</option>
												<option>六年级</option>
												<option>初一</option>
												<option>初二</option>
												<option>初三</option>
												<option>高一</option>
												<option>高二</option>
												<option>高三</option>
											</select>
										</li>
									</ul>
									<ul class="clearfix">
										<li>所在学校：</li>
										<li>
											<input type="text" />
										</li>
									</ul>
									<ul class="clearfix">
										<li>班主任：</li>
										<li>
											<input type="text" />
										</li>
									</ul>
									<ul class="clearfix">
										<li>学籍号：</li>
										<li>
											<input type="text" />
										</li>
									</ul>
									<ul class="clearfix">
										<li>个性签名：</li>
										<li>
											<textarea name="" rows="" cols=""></textarea>
										</li>
									</ul>
									<input type="submit" value="保存"/>
								</form>
							</div>
						    
						    
						</div>
					</div>
				</div>
				<!--账号设置-->
				<div class="person-item">
					<div class="person-setting">
						<h5>服务安全</h5>
						<div class="set-top">
							<ul>
								<li>
									<div class="set-icon">
										<p></p>
									</div>
									<div class="set-sm">
										<p><span>教育扶贫账号</span><span>未绑定</span></p>
										<p>可用于教育扶贫专题页的全部课程免费观看</p>
									</div>
									<div class="set-btn set-yhm">立即绑定</div>
								</li>
								<li>
									<div class="set-icon">
										<p></p>
									</div>
									<div class="set-sm">
										<p><span>安全手机</span><span>已绑定</span></p>
										<p>安全手机可以用于登录手提课，找回密码，请及时绑定</p>
									</div>
									<div class="set-btn" style="cursor: not-allowed;background: #ccc;">立即绑定</div>
								</li>
								<li>
									<div class="set-icon">
										<p></p>
									</div>
									<div class="set-sm">
										<p><span>登录密码</span></p>
										<p>用于保护账号信息和登录安全</p>
									</div>
									<div class="set-btn set-pass">修改密码</div>
								</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!--footer-->
	<div class="footer">
		<div class="content">
			<div class="con footer-con">
				<div class="section">
					<div class="footer_left">
						<a href="about/about.html" target="_blank">关于我们</a>
						<a href="about/cooperation.html" target="_blank">媒体报道</a>
						<a href="about/cooperation.html" target="_blank">商务合作</a>
						<a href="javascript:;">加入我们</a>
						<a href="javascript:;">常见问题</a>
						<a href="javascript:;">意见反馈</a>
					</div>
					<div class="footer_right">
						<a href="javascript:;">sub</a>
						<a href="javascript:;">sub</a>
						
					</div>
				</div>
				<div class="section">
					<a href="http://www.miitbeian.gov.cn">
					    <p class="copy">&copy; shoutike.com 京ICP备16043579号-1</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--删除收藏记录弹窗-->
<section class="my_model">
    <p class="title">删除收藏记录<span class="closeModel poster-btn"></span></p>
    <p>您确认要删除该收藏说课程吗？</p>
    <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a></div>
</section>
<!--课程详情弹窗-->
<div class="my-play-record">
	<div class="order-details-top">
		<ul class="clearfix">
			<li class="order-number">订单号：190005084</li>
			<li class="order-timer">下单时间：2017-08-22 17:46:03</li>
			<li class="order-pay-timer">支付时间：2017-08-22 17:46:03</li>
		</ul>
		<div class="order-pay-close"><span class="glyphicon glyphicon-remove"></span></div>
	</div>
	<div class="order-details-con">
		<ul class="clearfix">
			<li class="order-number">
				<div class="kc"></div>
			</li>
			<li class="order-timer">
				<h4>西医综合导学</h4>
				<p>西医导学是一门非常有意思的课程，非常有意思课程</p>
				<span>李莉莉</span>
			</li>
			<li class="order-pay-timer clearfix">
				<div class="order-pay-staus">
					<span>支付成功</span><br />
					<span>微信支付</span>
				</div>
				<div class="order-pay-money">
					<p>课程总价：<span>￥39.90</span></p>
					<p>奖学金抵扣：<span>￥10.30</span></p>
					<p>实付：<span>￥29.60</span></p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="person-mask"></div>

<!--奖学金弹窗-->
<div class="jxjxq">
	<h6>什么是奖学金？<span class="poster-btn btn-close"></span></h6>
	<p>什么是奖学金?</p>
</div>
<div class="jxj-gz">
	<h6>奖学金规则? <span class="poster-btn btn-close"></span></h6>
	<p>奖学金规则?</p>
</div>
<!--代言人的 详情介绍-->
<div class="poster">
	<h6>什么是代言？<span class="poster-btn btn-close"></span></h6>
	<p>什么是代言？</p>
</div>
<div class="know-enchashment">
	<h6>提现规则<span class="poster-btn btn-close"></span></h6>
	<p>提现规则提现规则规则</p>
</div>	
<!--账号设置 找回密码-->
<div class="findpass">
	
</div>
<!--未注册时点击视频的弹框-->
<div class="fpzc">
	<div class="fpzctop">
		<a href="javascript:;" class="fptc-close btn-close poster-btn"></a>
	</div>
	<div class="fpzcmain">
		<div class="fpzcyhm">
		    <form action="" method="post" id="fpzc-form">
				<input type="text" placeholder="输入免费学习验证码" id="fpzc-yhm" />
				<p></p>
				<input type="submit" value="提交验证码" id="fpzc-btn" />
		    </form>
		</div>
		<p><span class=""></span>已获得”互联网+教育扶贫“免费学习验证码的学校用户，可提交验证码后直接观看课程。</p>
	</div>
	<div class="fplink"><a href="../about/cooperation.html" target="_blank">获取免费学习验证码</a></div>
</div>
<!--修改密码-->
<div class="xgpass">
	<h6>请输入密码 <span class="poster-btn glyphicon glyphicon-remove"></span></h6>
	<form action="">
		<input type="text" /><br />
		<input type="submit" name="" id="" value="提交" />
	</form>
</div>
</body>
</html>
<script src="../jscript/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../jscript/moment.min.js"></script>
<script type="text/javascript" src="../jscript/moment.zh-cn.js"></script>
<script type="text/javascript" src="../jscript/ion.calendar.min.js"></script>
<script type="text/javascript" src="../jscript/area.js"></script>
<script type="text/javascript" src="../js/personal.js"></script>
<script type="text/javascript" src="../js/personpage.js"></script>
<script>
//	点击我的订单详情 出现弹窗效果
	$('.order-xq-btn').on('click',function(){
		$('.person-mask').css('display','block');
		$('.my-play-record').css('display','block');
	});
	//关闭 订单详情弹窗
	$('.order-pay-close').on('click',function(){
		$('.person-mask').css('display','none');
		$('.my-play-record').css('display','none');
	});
	
//日期调用
$('.date').each(function(){
	$(this).ionDatePicker({
		lang: 'zh-cn',
		format: 'YYYY-MM-DD'
	});
	
});

//var opt0 = ["山西省","太原市","迎泽区"];//初始值
//三级联动 城市
var Gid  = document.getElementById ;
var showArea = function(){
	Gid('show').innerHTML = "<h3>省" + Gid('s_province').value + " - 市" + 	

	Gid('s_city').value + " - 县/区" + 

	Gid('s_county').value + "</h3>"
}

//Gid('s_county').setAttribute('onchange','showArea()');
</script>
