<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>手提课-活到老学到老</title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta name="keywords" content="shoutike" />
<meta name="description" content="shoutike" />
<meta mame="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1"  />
<!--<link rel="stylesheet" href="../content/bootstrap.min.css" />-->
<link rel="stylesheet" href="../css/Login_page.css"  /> 
<script type="text/javascript" src="../jscript/jquery-2.0.3.js"></script>
<!--<script type="text/javascript" src="../js/Login.js"></script>-->
</head>
<body>
<div class="wrap">
	<div class="header"></div>
	 <div class="screen">
        <div class="passport-page signup-skin1">
            <div class="stk-container">
            	<div class="page-head">
            		
            	</div>
                <div class="center clearfix">
                    <div class="loginbox">
                        <div class="loginhead">
                            <div class="title">密码找回</div>
                        </div>
                        <div id="PageLogin">
                            <section id="loginForm" class="formbox passport-inner">
                                <form action="">
                                	<div class="normalInput">
                                		<input type="text" name="Telephone" maxlength="11" placeholder="手机号码" class="phone" />
                                	</div>
                                	<span class="error error1">请输入手机号</span>
                                	<div class="normalInput">
                                		<!--<input type="text" data-val="true" maxlength="4" data-val-required="验证码  字段是必需的。" disabled="disabled" id="CheckCode" name="CheckCode" placeholder="验证码" style="background: #fff;" />-->
                                		<input type="text" disabled="disabled" id="CheckCode" name="CheckCode" placeholder="验证码" style="background: #fff;" />
                                		<span class="formLine"></span>
                                		<a href="#" id="getKey" class="linkABlue keycode" style="font-size: 14px;color: #000;">获取验证码</a>
                                	</div>
                                	<span class="error error2"></span>
                                	
                                	<input type="button" value="下一步" class="fullBtnBlue btnlogin" />
                                </form>
                            </section>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="../js/phonefind.js" ></script>
