<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta mame="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="keywords" content="shoutike" />
<meta name="description" content="shoutike" />
<link rel="stylesheet" href="../../content/bootstrap.min.css" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../../css/public.css" />
<link rel="stylesheet" type="text/css" href="../../content/ion.calendar.css" />
<!--二级页面课程内容样式-->
<link rel="stylesheet" type="text/css" href="../../css/search_public.css" />
<!--扶贫专题样式-->
<link rel="stylesheet" type="text/css" href="../../css/FP/fp_subpage.css" />

</head>
<body>
<div class="wrap" style="background: #efefef;">
	<!--顶部-->
	<div class="navheader clearfix">
		<div class="header clearfix">
			<!--logo-->
			<div class="logo" style="margin-top: -3px;">
				<a href="#" class="navbar-brand"><img src="../../img/icon/logo-xin.png" style="width:120px;height： 50px;margin-top: -15px;" /></a>
			</div>
			<div class="stk-menu">
				<div class="head-menu">
					<a href="../../index.html">首页</a>
				</div>
			</div>
			<!--登录注册-->
			<ul class="nav-login">
				<li></li>
				<li class="nav-dlzc"><a href="javascript:;">登录</a></li>
				<li class="nav-dlzc"><a href="javascript:;">注册</a></li>
			</ul>
		</div>
	</div>
    <!--coutent-->
    <div class="wrapper">
    	
    	<!--banner-->
		<div class="content fp-con">
			<div class="con" style="padding: 0;width: 100%;">
				<div class="banner">
					<div class="banner-con">
						<ul>
							<li><a href="javascript:;"><img src=""/></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    	<!--筛选-->
        <div class="subpage-top">
			<div class="subpage-con">
				<!--筛选课程条件-->
				<div class="screen">
					<div class="screen-content">
						<dl class="clearfix">
							<dt>品类</dt>
							<dd>
								<a href="javascript:;" name="mode" class="all on">全部</a>
								<a href="javascript:;" name="mode" class="sx_child">学前课程</a>
								<a href="javascript:;" name="mode" class="sx_child">小学课程</a>
							</dd>
						</dl>
						<dl class="clearfix">
							<dt>进度</dt>
							<dd>
								<a href="javascript:;" name="stage" class="all on">全部</a>
								
								<a href="javascript:;" name="stage" class="sx_child">公共课</a>
								<a href="javascript:;" name="stage" class="sx_child">公共课</a>
								<a href="javascript:;" name="stage" class="sx_child">公务员</a>
								<a href="javascript:;" name="stage" class="sx_child">法语</a>
								<a href="javascript:;" name="stage" class="sx_child">日语</a>
								<a href="javascript:;" name="stage" class="sx_child">韩语</a>
							</dd>
						</dl>
					</div>
				</div>
			</div>
	    </div>
        <!--扶贫课程-->
        <div class="rightfloat">
        	<div class="tabs-con">
				<div class="tabs-main">
    				<ul class="clearfix">
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<div class="kc">
								<div class="kctop">
									<a href="javascript:;"><img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" /></a>
								</div>
								<div class="kcmask"></div>

								<div class="kcmask"></div>

							</div>
							<div class="texts">
								<div class="titles">西医综合导学</div>
								<div class="kcsm">
									<div class="kcsm-top">
										<p>
											<span>考研</span>
											<span>医学</span>
										</p>
										<p>
											<span class="glyphicon glyphicon-play-circle"></span>
											<span>43543</span>
										</p>
									</div>
									<div class="kcsm-foot">
										<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
									</div>
								</div>
							</div>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    					<li>
    						<a href="javascript:;">
	    						<div class="kc">
									<div class="kctop">
										<img class="lazy" alt="" width="200" height="124" data-original="img/example.jpg" src="../../img/pic03.jpg" />
									</div>
									<div class="kcmask"></div>
								</div>
								<div class="texts">
									<div class="titles">西医综合导学</div>
									<div class="kcsm">
										<div class="kcsm-top">
											<p>
												<span>考研</span>
												<span>医学</span>
											</p>
											<p>
												<span>43543</span>
												<span></span>
											</p>
										</div>
										<div class="kcsm-foot">
											<p>西医导学是一门非常有意思的课程，非常非常有意思的课</p>
										</div>
									</div>
								</div>
							</a>
    					</li>
    				</ul>
			    </div>
			    <div class="pager">
			    	<ul class="page clearfix" maxshowpageitem="5" pagelistcount="10"  id="page"></ul>
			    </div>
			</div>
        </div>
    </div>	
    <!--footer-->
    <div class="footer">
		<div class="content">
			<div class="con footer-con" style="width: 1120px;padding: 0;">
				<div class="section">
					<div class="footer_left">
						<a href="../about/about.html" target="_blank">关于我们</a>
						<a href="../about/cooperation.html" target="_blank">媒体报道</a>
						<a href="../about/cooperation.html" target="_blank">商务合作</a>
						<a href="javascript:;">加入我们</a>
						<a href="javascript:;">常见问题</a>
						<a href="javascript:;">意见反馈</a>
					</div>
					<div class="footer_right">
						<a href="javascript:;">sub</a>
						<a href="javascript:;">sub</a>
						
					</div>
				</div>
				<div class="section">
					<a href="http://www.miitbeian.gov.cn">
					    <p class="copy">&copy; shoutike.com 京ICP备16043579号-1</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--未注册时点击视频的弹框-->
<div class="fpzc">
	<div class="fpzctop">
		<a href="javascript:;" class="fptc-close btn-close"></a>
	</div>
	<div class="fpzcmain">
		<div class="fpzcyhm">
		    <form action="" method="post" id="fpzc-form">
				<input type="text" placeholder="输入免费学习验证码" id="fpzc-yhm" />
				<p></p>
				<input type="submit" value="提交验证码" id="fpzc-btn"/>
		    </form>
		</div>
		<p><span class=""></span>已获得”互联网+教育扶贫“免费学习验证码的学校用户，可提交验证码后直接观看课程。</p>
	</div>
	<div class="fplink"><a href="../about/cooperation.html" target="_blank">获取免费学习验证码</a></div>
</div>

<!--登录注册页面-->
<div class="login">
	<div class="login-header">
		<div class="login-tab">
			<span class="active-title">登录</span>
			<span>注册</span>
		</div>
		<button class="btn-close"></button>
	</div>
	<!--登录-->
	<div class="login-con logreg-active">
		<form action="" method="post" id="login-form">
			<div class="call">
				<input type="text" placeholder="请输入登录手机号" class="username" id="UserName" />
				<p></p>
			</div>
			<div class="pass">
				<input type="password" placeholder="6-16位密码，区分大小写，不能用空格" class="password" id="login-pass" />
				<p></p>
			</div>
			<div class="forget"><span>忘记密码</span></div>
			<input type="submit" value="登录" class="login-btn" />
		</form>
		<div class="qt-login">
			<h6>其他方式登录：
				<span>
					<a href="http://www.shoutike.com/account/wxlogin" connect="wechat" config=" 'cp': 0, 'cpp': 0, 'width': 400, 'height': 570, 'title': '微信' " title="用微信扫码登录" charset="hz-4009931-1000494">微信</a>
				</span>
				<span>
					<a href="http://www.shoutike.com/account/qqlogin" connect="qzone" config=" 'cp': 1000208, 'cpp': 4001521, 'width': 710, 'height': 400, 'title': '腾讯QQ' " title="用QQ账号登录" charset="hz-4003757-1000494">QQ</a>
				</span>
				<span>
					<a href="http://www.shoutike.com/account/wblogin" connect="weibo" config=" 'cp': 1000208, 'cpp': 4002404, 'width': 950, 'height': 700, 'title': '微博' " title="用新浪微博账号登录" charset="hz-4003755-1000494">微博</a>
				</span>
			</h6>
		</div>
	</div>
	<!--注册-->
	<div class="login-con">
		<form action="" method="post" id="reg-form">
			<div class="call">
				<input type="text" placeholder="请输入注册手机号" class="username" id="myUserName" />
				<p></p>
			</div>
			<div class="xym">
				<input type="text" id="code" class="" placeholder="请输入右边的校验码" onblur="checkCode();" />
				<span id="codeSpan" onclick="createCode();"></span>
				<span id="cSpan"></span>
			</div>
			<div class="yzm">
				<input type="text" placeholder="请输入短信验证码" disabled="disabled" id="CheckCode" name="" />
				<a href="javascript:;" class="yzm-btn" id="getKey">获取验证码</a>
			</div>
			<div class="pass">
				<input type="password" placeholder="设置6-16位密码，区分大小写，不能用空格" class="password" id="zc-pass" />
				<p></p>
			</div>
			<div class="stk-tk">
				<span><input type="checkbox" checked="checked" name="" id="agree-check" data-check="true" value="" /></span>
				<span>我已阅读并接受《手提课协议条款》</span>
			</div>
			<input type="submit" value="注册" id="zc-btn" />
		</form>
		<div class="qt-login">
			<h6>其他方式登录：
				<span>
					<a href="http://www.shoutike.com/account/wxlogin" connect="wechat" config=" 'cp': 0, 'cpp': 0, 'width': 400, 'height': 570, 'title': '微信' " title="用微信扫码登录" charset="hz-4009931-1000494">微信</a>
				</span>
				<span>
					<a href="http://www.shoutike.com/account/qqlogin" connect="qzone" config=" 'cp': 1000208, 'cpp': 4001521, 'width': 710, 'height': 400, 'title': '腾讯QQ' " title="用QQ账号登录" charset="hz-4003757-1000494">QQ</a>
				</span>
				<span>
					<a href="http://www.shoutike.com/account/wblogin" connect="weibo" config=" 'cp': 1000208, 'cpp': 4002404, 'width': 950, 'height': 700, 'title': '微博' " title="用新浪微博账号登录" charset="hz-4003755-1000494">微博</a>
				</span>
			</h6>
		</div>
	</div>
</div>
<!--完善资料-->
<div class="register-next">
	<div class="reg-head">注册成功！请完善资料！</div>
	<div class="reg-con">
		<form action="">
			<div class="nickname">
				<input type="text" placeholder="昵称" />
				<p></p>
			</div>
			<div class="name">
				<input type="text" placeholder="真实姓名" />
				<p></p>
			</div>
			<div class="sex-bir">
				<div class="sex">
					<select name="性别" placeholder="性别">
						<option value="性别">性别</option>
						<option value="男">男</option>
						<option value="女">女</option>
					</select>
				</div>
				<div class="birthday">
					<input type="text" class="date" readonly="readonly" placeholder="请输入出生年月日" />
				</div>
			</div>
			<div class="seat">
				<div class="info">
					<div>
						<select id="s_province" name="s_province"></select> 
						<select id="s_city" name="s_city" ></select>
						<select id="s_county" name="s_county"></select>
						<script class="resources library" src="../../jscript/area.js" type="text/javascript"></script>
						<script type="text/javascript">
							var opt0 = ["省份","地级市","市、县级市"];//初始值
							_init_area();
						</script>
					</div>
				    <div id="show"></div>
				
				</div>
			</div>
			<div class="grade">
				<select name="" id="">
					<option>教育阶段</option>
					<option>小学</option>
					<option>初中</option>
					<option>高中</option>
				</select>
				<select name="" id="">
					<option>年级</option>
					<option>一年级</option>
					<option>二年级</option>
					<option>三年级</option>
					<option>四年级</option>
					<option>五年级</option>
					<option>六年级</option>
					<option>初一</option>
					<option>初二</option>
					<option>初三</option>
					<option>高一</option>
					<option>高二</option>
					<option>高三</option>
				</select>
				<input type="text" placeholder="所在学校"/>
			</div>
			<div class="teacher">
				<input type="text" name="" id="" value="" placeholder="班主任" />
			</div>
			<div class="fpyhm">
				<input type="text" name="" id="fpyhm" value="" placeholder="免费学习验证码(输入验证码免费学习课程)" />
				<p style="color: red;"></p>
			</div>
			<div class="tjzl">
				<input type="submit" value="提交资料" id="tjzl" />
			    <span class="cursor">跳过</span>
			</div>
			<b>完善资料即可获赠10元奖学金，奖学金可用来购买课程</b>
		</form>
	</div>
</div>
<!--忘记密码-->
<div class="forgetpass">
	<div class="forget-head">
		<h4>找回密码</h4>
		<span class="btn-close">x</span>
	</div>
	<div class="forget-con">
		<form action="" method="post" id="forget-form">
			<div class="call">
				<input type="text" placeholder="请输入注册手机号" class="username" id="forget-call" />
				<p></p>
			</div>
			<div class="xym">
				<input type="text" id="forget-code" class="" placeholder="请输入右边的校验码" onblur="checkCode($('#forget-codeSpan'));" />
				<span id="forget-codeSpan" onclick="createCode($('#forget-codeSpan'));"></span>
				<span id="forget-cSpan"></span>
			</div>
			<div class="yzm">
				<input type="text" placeholder="请输入短信验证码" disabled="disabled" id="forget-CheckCode" name="" />
				<a href="javascript:;" class="yzm-btn" id="forget-getKey">获取验证码</a>
				<span id="forget-randomSpan"></span>
			</div>
			<div class="pass">
				<input type="password" placeholder="设置8-16位密码，区分大小写，不能用空格" class="password" id="forget-pass" />
				<p></p>
			</div>
			<input type="submit" value="找 回 密 码" id="forget-btn" />
		</form>
	</div>
</div>
<div class="login-mask"></div>
</body>
</html>
<script type="text/javascript" src="../../jscript/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../../jscript/jquery.cookie.js"></script>
<!--日期和三级城市联动的代码-->
<script type="text/javascript" src="../../jscript/moment.min.js"></script>
<script type="text/javascript" src="../../jscript/moment.zh-cn.js"></script>
<script type="text/javascript" src="../../jscript/ion.calendar.min.js"></script>
<script type="text/javascript" src="../../jscript/area.js"></script>

<script type="text/javascript" src="../../jscript/page.js"></script>
<!--顶部菜单移入移出效果的代码-->
<script type="text/javascript" src="../../js/public.js"></script>
<!--登录注册找回密码 补充资料的代码-->
<script type="text/javascript" src="../../js/login-public.js"></script>
<!--二级页面 筛选菜单效果和左边推荐精品课程效果-->
<script type="text/javascript" src="../../js/subpage.js"></script>
<!--课程内容移入移出效果-->
<script type="text/javascript" src="../../js/kc_public.js"></script>
<!--扶贫专题js代码 -->
<script type="text/javascript" src="../../js/fp/fppublic.js"></script>
<script>
	//分页效果
    function tt(dd){
          alert(dd);
    }
//  maxshowpageitem ：最多显示的页码数字，必需写 。     pagelistcount:每一个页面显示的数据的个数，必需写。      id:不用解释了吧，必需。三、初始化分页
    var GG = {
        "kk":function(mm){
            alert(mm);
              console.log("hellos");
//            window.location.href="test.html?page="+mm;
        }
    }
    //调用分页的方法 参数 （3个参数） 第一个 所有数据条数  第二个默认第一页  第三个调用GG的kk方法 回调函数 进入第几页面
    $("#page").initPage(100,1,GG.kk);
    /*$("#page1").initPage(100,1,GG.kk);*/
   
//日期调用
$('.date').each(function(){
	$(this).ionDatePicker({
		lang: 'zh-cn',
		format: 'YYYY-MM-DD'
	});
	
});
//三级联动 城市
var Gid  = document.getElementById ;
var showArea = function(){
	Gid('show').innerHTML = "<h3>省" + Gid('s_province').value + " - 市" + 	

	Gid('s_city').value + " - 县/区" + 

	Gid('s_county').value + "</h3>"
}

//Gid('s_county').setAttribute('onchange','showArea()');
</script>